<a href="https://colab.research.google.com/github/jelade/git-get-started-b4/blob/main/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nums = [3,13,11,15,2,7]
def twoSum(nums, target):
  for i in range(len(nums)-1):
      for j in range(i+1,len(nums)):
          if nums[i]+nums[j] ==target:
              return i,j

In [ ]:
nums = [3,2,4]
twoSum(nums, 6)

(1, 2)

In [ ]:
nums = [3,2,4]
for i in range(len(nums)-1):
  for j in range(i+1,len(nums)):
    print(j)

1
2
2

In [ ]:
for i in range(2,2):
  print(i)

In [ ]:
nums[::-1]

[4, 2, 3]

In [ ]:
list1 = {'I':1,'V':5, 'X' :10, 'L':50, 'C':100, 'D':500 ,'M':1000}
for j in range(len(list1)):
  print(j)

0
1
2
3
4
5
6

In [ ]:
def romanToInt(s):
        """
        :type s: str
        :rtype: int
        """

        sum = 0
        list1 = {'I':1,'V':5, 'X' :10, 'L':50, 'C':100, 'D':500 ,'M':1000}

        for j in range(len(s)):
            if (s[j] == "I" and s[j+1] in "VX") or (s[j] == "X" and s[j+1] in "LC") or (s[j] == "C" and s[j+1] in "DM"):
                w = list1[s[j+1]]- list1[s[j]]
                sum+=w
                j = j+1
            else:
                sum+=list1[s[j]]
            
        return sum

In [ ]:
s = "MCMXCIV"
romanToInt(s)

3099

In [ ]:
list1 = {'I':1,'V':5, 'X' :10, 'L':50, 'C':100, 'D':500 ,'M':1000}
list1['I']

1

In [ ]:
s[1]

'C'

In [ ]:
sum = 0
for j in range(len(s)):
  if (s[j] == "I" and s[j+1] in "VX") or (s[j] == "X" and s[j+1] in "LC") or (s[j] == "C" and s[j+1] in "DM"):
      w = list1[s[j+1]]-list1[s[j]]
      sum+=w
      j = j+1
  else:
      sum+=list1[s[j]]

print(sum)

1000
1100
2100
2110
2210
2211
2216